/*  your css code here. If applicable */
div {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  border: 2px solid black;
}

div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  color: purple;
}

p {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}